<div class="nav">
  
  <a href='/logout'>Logout</a>
  <a href='/student_entries'>Student Entries</a>
  <a href='/assignment_entries'>Assignment Entries</a>
  <a href='/student_entries/new'>New Student Entry</a>
  
</div>