<h2>Sign Up Form</h2>

<form class = "" action = "/users" method="post">
  <label for="username"></label>
  <h4>Username:</h4><input type="text" name="username" value="">
  <input type="text" name="password" value="">
  <input type="text" name="" value="">
  <input type="submit" name="" value="Create User">
</form>